* { margin: 0px;}

body {
  background-color: #F9F9F9;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 470px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
}

@media screen and (min-width: 471px ) and (max-width: 620px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }
}

@media screen and (min-width: 621px ) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
  }
}


.date {
  display: block;
  padding: 20px;
}

.button {
  color: black;
  background-color: #39bd7d;
}

