<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link real="stylesheet" href="components.css" />
</head>
<body>
    <img src="../Images/logo.png" />
    <button>HOTELL</button>
    <button>RUM</button>
    <button>BOKNING</button>
    <button>GALLERI</button>
    <button>LOGGA IN</button>

    <img src="../Images/desktop.jpg" />
    

<h1>VÄLKOMMEN TILL Bonz.ai</h1>
<p>Bonz.ai är ett modernt designhotell beläget vid vattnet i centrala Göteborg.<br>
    Som är helt och hållet familjeägt- och drivet sedan 1991. <br>
    Här hittar rum med moderna inredningar, fantastisk utsikt över naturen och vatten. <br>En härlig shopping center med massor av butik.</p>
    <footer>
    <img src="../Images/youtube.png" />
    <img src="../Images/facebook (3).png" />
    <img src="../Images/instagram (1).png" />
    <img src="../Images/twitter-sign.png" />
    </footer>
    
    
</body>
</html>