* {
    color: #F9F9F9;
}

body{
    height: 100%;
    background-image: url("../Images/desktop.jpg");
    background-repeat: no-repeat;
    


}

button {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: right;

}