
  
@media screen and (max-width: 1024px) {
  .social_buttons {
    display: none;
  }
}

@media screen and (min-width: 1025px ){
  .social_buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
  } 
}